<div id="game-div">
	<canvas id="canvas">
	    Your browser doesn't support canvas. Sorry.
	</canvas>
	<div class="chat-div" id="chat-div"></div>
	<div class="form-inline chat-form">
	    <input class="form-control" type="text" id="chat" style="width: 240px" placeholder="Send a message..." />
	    <input type="button" class="btn btn-primary btn-sm disabled" id="send" value="Send" />
	</div>
	<div id="popup">
		<span class="button b-close"><span>X</span></span>
		<center><span id="dialog-message"></span></center>
	</div>
</div>