<div id="waiting-room" class="container">
	<div class="row">
		<div id="rooms" class="col-md-6">
			<h2>Rooms <button id="create-new-room" type="button" class="btn btn-primary btn-sm" style="float: right; margin-right: 2px">Create Room</button></h2>
			<div id="create-room" class="form-inline" style="display: none;">
				<label for="new-room-name">Room Name:</label>
				<input id="new-room-name" class="form-control" type="text" style="width: 363px" />
				<button id="submit-new-room" type="button" class="btn btn-primary btn-sm">Submit Room</button>
			</div>
			<table id="rooms-table">
				<thead>
		          <tr>
		            <th>Name</th>
		            <th>Members</th>
		            <th>Private</th>
		            <th>Join</th>
		          </tr>
		        </thead>
			</table>
		</div>
		<div id="users" class="col-md-6">
			<h2>Users</h2>
			<table id="users-table">
				<thead>
		          <tr>
		            <th>Username</th>
		            <th>Challenge</th>
		            <th>Room</th>
		          </tr>
		        </thead>
			</table>
		</div>
	</div>
</div>