<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Quarto Online!</title>
    <script src="/public/js/jquery-2.0.3.min.js"></script>
    <script src="/public/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
</head>
<body>
    <canvas style="display: inline; position: absolute; top: 0px; left: 0px" id="canvas">
        Your browser doesn't support canvas. Sorry.
    </canvas>
    <div id="chat-div" style="display: inline; position: absolute; top: 0px; right: 0px">
        <input type="text" id="chat" /><input type="button" value="Send" id="send" /><br />
    </div>
</body>
</html>
